DATABASE_URL="" # Database URL for the pooled connection
DATABASE_URL_UNPOOLED="" # Database URL for the unpooled connection

BETTER_AUTH_SECRET="" # Secret used for encryption etc
BETTER_AUTH_URL= # URL for the BetterAuth server
FRONTEND_URL= # URL for the frontend application